@charset "UTF-8";

*,body{
 font-family: "맑은 고딕";
 margin:0px;
 padding:0px;
 font-size:11px;
}
caption{
 background: url(images/title_event.png) no-repeat center center;
 width:700px;
 height:50px;
}
table{
 border-collapse: collapse;
}
td{
 border-bottom: 1px solid #000;
 text-align:center;
 padding:5px 10px;
}
th{
 height:34px;
 padding:0px 0px;
 font-size:12px;
}
th span{
/*  border-right:1px solid #666; */
 background: url(images/bar7_1.png) no-repeat right 10px;
  display:block;
  padding:0px 0px 2px 0px;
}
tr:FIRST-CHILD{
 
}
tr:last-CHILD{
 border-bottom: 2px solid #000;
}
th:FIRST-CHILD{
 background: url(images/table_header_bg.png) repeat-x;
}
 /* 2열의 th 내용*/
th:nth-child(2) {
 background: url(images/table_header_bg.png) center top repeat-x;
}
th:nth-child(3) {
 background: url(images/table_header_bg.png) center top repeat-x;
}
th:nth-child(4) {
 background: url(images/table_header_bg.png) center top repeat-x;
}
th:nth-child(5) {
 background: url(images/table_header_bg.png) right top repeat-x;
}
.bb{
 border:none;
}
td{
 background: url(images/bar7_1.png) no-repeat right bottom;
}
